# Elasticsearch lokal kamu (untuk ingester/optimizer/anomaly/saver)
ELASTICSEARCH_HOST=http://elasticsearch:9200

# Tambahkan variable baru untuk ES teman via Tailscale
ELASTICSEARCH_REMOTE_HOST=http://100.99.130.69:9200

# Telegram notification (isi token dan chat ID kamu)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=